body {
	background:none !important;
}
#header {
	height:90px;
	border-bottom:12px solid #8b8b8b;
	padding:15px 10px 0;
}

#content {
	border-top:3px solid #6c6c6c;
	border-bottom:6px solid #8b8b8b;
}

#footer {
	border-top:3px solid #6c6c6c;
}

strong {
	font-weight:700;
}

h1 {
	float:left;

}

#login-box {
	float:right;
	width:240px;
	height:40px;
	line-height:40px;
	padding:0 15px;
	background:#ebf4cf;
	font-size:14px;

	opacity:0.8;

	border:3px solid #939881;
	border-radius:4px;
	-moz-border-radius:4px;

	-moz-box-shadow:#CCC 2px 2px 3px;
}

#panel {
	background:#f4c6cf;
	min-height:650px;
}

#panel-wrap {
	margin:10px;
	padding:10px;
	background:#f8d8de;
}

#panel-wrap h2 {
	text-align:center;
	height:36px;
	line-height:36px;
	margin:10px 0;
	border-bottom:1px solid #d04d6d;
	text-shadow:#AAA 2px 2px 2px;
	box-shadow:#FFF 1px 0 1px;
	-moz-box-shadow:#FFF 0 1px 0;
}

#panel-wrap .list {
	padding:10px;
	background:#fceef1;
}

#panel-wrap .list li {
	height:40px;
	padding-left:50px;
	font:400 14px/40px tahoma;
	border-bottom:1px solid #ccc;
}

/* 表单控件部分 */
.input-field {
	padding:3px;
	border:4px solid #f4c6cf;
	-moz-border-bottom-colors:#f4c6cf #f4c6cf #fff #fff;
	-moz-border-top-colors:#f4c6cf #f4c6cf #fff #fff;
	-moz-border-left-colors:#f4c6cf #f4c6cf #fff #fff;
	-moz-border-right-colors:#f4c6cf #f4c6cf #fff #fff;


}

.input-field:hover {
	border:4px solid #f4c6cf;
	-moz-border-bottom-colors:#f4c6cf #f4c6cf #fff1b8 #fff1b8;
	-moz-border-top-colors:#f4c6cf #f4c6cf #fff1b8 #fff1b8;
	-moz-border-left-colors:#f4c6cf #f4c6cf #fff1b8 #fff1b8;
	-moz-border-right-colors:#f4c6cf #f4c6cf #fff1b8 #fff1b8;
}

.button-field {
	cursor:pointer;
	padding:4px 6px;
	color:#7C7C7C;
	border:2px solid #CCC;
	border-radius:2px;
	-moz-border-radius:2px;

	background: -moz-linear-gradient(top, #fff, #EFEFEF 49%, #E4E4E4  50%, #E5E5E5 100%);

}

.button-field:hover{
	border-color:#BBB;
	color:#666;
}